@model TBay.ViewModels.ItemViewModel

@{
    ViewData["Title"] = "Измени";
}

<h1>Измени</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4" enctype="multipart/form-data" method="post">
        <form asp-action="Edit">
            
         <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for=" Picture" type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Избери слика</label>
                </div>
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            
             <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
             
             
           
            <div class="form-group">
                <input type="submit" value="Измени" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}