@{ ViewData["Title"] = "TBay"; }

<body class="pozadina">
    <div class="text-center">
        <h2>Welcome to your daily escape from reality</h2>

        <p>
            It's an <span class="font-weight-bold">
                "Add to cart"
            </span> kinda day
        </p>
        <img src="https://images.squarespace-cdn.com/content/v1/57ace8946a49631344254da4/1591376562427-MWX2JGEPH8XZO6TNMJN6/ke17ZwdGBToddI8pDm48kH23KVWagbNOYpajbj_MQLNZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PIJtg7yny0RBSV5PxpX1XPrwAROGqRUCBAuccPtaePpQsKMshLAGzx4R3EDFOm1kBS/pasted+image+0.jpg?format=1500w" alt="pic1" width="800" height="500" />
        <br />


    </div>
    <br />

    <div style="text-align: left;">

        Contact <br />
        Email: nikolov.tea@gmail.com <br />
        Phone: +38978257224 <br />
    </div>

</body>